# Dependencies
node_modules/
.pnpm-store/

# Production Build Output
dist/
dist-ssr/
*.local

# Figma / IDE / Editor Cache & Logs
.figma/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db

# Logs & Temporary Files
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
